# ratings 테이블 생성

## daum_movies

In [434]:
create_table_query = """CREATE TABLE `daum_movies` (
                                                  `movieId` int PRIMARY KEY AUTO_INCREMENT,
                                                  `titleKo` varchar(100) DEFAULT NULL,
                                                  `titleEn` varchar(100) DEFAULT NULL,
                                                  `mainPageUrl` text,
                                                  `posterUrl` text
                                                )"""
with mysql.get_connection().cursor() as cursor:
    cursor.execute(create_table_query)

## daum_ratings

In [98]:
create_table_query = """CREATE TABLE daum_ratings (
                                                    nickName VARCHAR(30),
                                                    movieId INT,
                                                    rating INT,
                                                    timestamp DOUBLE,
                                                    userId INT DEFAULT NULL,
                                                    review TEXT,
                                                    
                                                    FOREIGN KEY (movieId) REFERENCES daum_movies(movieId),
                                                    UNIQUE KEY unique_key1 (movieId, nickName)
                                                    )"""
with mysql.get_connection().cursor() as cursor:
    cursor.execute(create_table_query)

# 칼럼 추가하기

In [53]:
alter_table_query = """
                    ALTER TABLE daum_ratings
                    ADD COLUMN timestamp DOUBLE;
                    """
with mysql.get_connection().cursor() as cursor:
    cursor.execute(alter_table_query)

In [56]:
alter_table_query = """
                    ALTER TABLE daum_ratings
                    ADD COLUMN userId INT;
                    """
with mysql.get_connection().cursor() as cursor:
    cursor.execute(alter_table_query)

In [67]:
alter_table_query = """
                    ALTER TABLE daum_ratings
                    ADD COLUMN review TEXT;
                    """
with mysql.get_connection().cursor() as cursor:
    cursor.execute(alter_table_query)

# mysql

In [1]:
from clients import MysqlClient

In [2]:
import os
os.environ['RDS_MYSQL_PW'] = 'Precsys1!'
os.environ['AWS_ACCESS_KEY_ID'] = 'AKIAWVKXOEHZOZZASCMP'
os.environ['AWS_SECRET_ACCESS_KEY'] = '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'
os.environ['AWS_REGION_NAME'] = "ap-northeast-2"

In [3]:
mysql = MysqlClient()

In [4]:
mysql.get_table_names()

Tables :
daum_movies
daum_ratings
movies
ratings

In [5]:
mysql.get_data_type(table_name='ratings')

Column: userId, Data Type: int
Column: movieId, Data Type: int
Column: rating, Data Type: float
Column: timestamp, Data Type: double

In [6]:
mysql.get_data_type(table_name='daum_movies')

Column: movieId, Data Type: int
Column: titleKo, Data Type: varchar(100)
Column: titleEn, Data Type: varchar(100)
Column: mainPageUrl, Data Type: text
Column: posterUrl, Data Type: text

In [7]:
with mysql.get_connection().cursor() as cursor:
    cursor.execute('SHOW CREATE TABLE daum_movies')
    result = cursor.fetchall()[0]
    
print(result[1])

CREATE TABLE `daum_movies` (
  `movieId` int NOT NULL AUTO_INCREMENT,
  `titleKo` varchar(100) DEFAULT NULL,
  `titleEn` varchar(100) DEFAULT NULL,
  `mainPageUrl` text,
  `posterUrl` text,
  PRIMARY KEY (`movieId`)
) ENGINE=InnoDB AUTO_INCREMENT=1316 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [8]:
mysql.get_data_type(table_name='daum_ratings')

Column: nickName, Data Type: varchar(30)
Column: movieId, Data Type: int
Column: rating, Data Type: int
Column: timestamp, Data Type: double
Column: userId, Data Type: int

In [10]:
with mysql.get_connection().cursor() as cursor:
    cursor.execute('SHOW CREATE TABLE daum_ratings')
    result = cursor.fetchall()[0]
    
print(result[1])

CREATE TABLE `daum_ratings` (
  `nickName` varchar(30) DEFAULT NULL,
  `movieId` int DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `timestamp` double DEFAULT NULL,
  `userId` int DEFAULT NULL,
  UNIQUE KEY `unique_key1` (`movieId`,`userId`),
  CONSTRAINT `daum_ratings_ibfk_1` FOREIGN KEY (`movieId`) REFERENCES `daum_movies` (`movieId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

# Selenium

In [11]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import time
import datetime as dt

## driver 열기

In [12]:
driver = webdriver.Chrome()

In [13]:
daum_movies = mysql.get_daum_movies()
daum_movies

/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/clients.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_movies', con=connection)

,movieId,titleKo,titleEn,mainPageUrl,posterUrl
0,261,월드 워 Z,None,https://movie.daum.net/moviedb/main?movieId=48708,https://img1.daumcdn.net/thumb/C408x596/?fname...
1,262,은밀하게 위대하게,None,https://movie.daum.net/moviedb/main?movieId=69884,https://img1.daumcdn.net/thumb/C408x596/?fname...
2,263,맨 오브 스틸,None,https://movie.daum.net/moviedb/main?movieId=43811,https://img1.daumcdn.net/thumb/C408x596/?fname...
3,264,스타트렉 다크니스,None,https://movie.daum.net/moviedb/main?movieId=62929,https://img1.daumcdn.net/thumb/C408x596/?fname...
4,265,더 콜,None,https://movie.daum.net/moviedb/main?movieId=71178,https://img1.daumcdn.net/thumb/C408x596/?fname...
...,...,...,...,...,...
1111,1372,토르: 라그나로크,None,https://movie.daum.net/moviedb/main?movieId=93694,https://img1.daumcdn.net/thumb/C408x596/?fname...
1112,1373,너의 췌장을 먹고 싶어,None,https://movie.daum.net/moviedb/main?movieId=11...,https://img1.daumcdn.net/thumb/C408x596/?fname...
1113,1374,뷰티풀 투모로우,None,https://movie.daum.net/moviedb/main?movieId=11...,https://img1.daumcdn.net/thumb/C408x596/?fname...
1114,1375,배저로와 친구들: 신비한 모험,None,https://movie.daum.net/moviedb/main?movieId=11...,https://img1.daumcdn.net/thumb/C408x596/?fname...
1115,1376,유리정원,None,https://movie.daum.net/moviedb/main?movieId=10...,https://img1.daumcdn.net/thumb/C408x596/?fname...

In [14]:
daum_movies['mainPageUrl']

0       https://movie.daum.net/moviedb/main?movieId=48708
1       https://movie.daum.net/moviedb/main?movieId=69884
2       https://movie.daum.net/moviedb/main?movieId=43811
3       https://movie.daum.net/moviedb/main?movieId=62929
4       https://movie.daum.net/moviedb/main?movieId=71178
                              ...
1111    https://movie.daum.net/moviedb/main?movieId=93694
1112    https://movie.daum.net/moviedb/main?movieId=11...
1113    https://movie.daum.net/moviedb/main?movieId=11...
1114    https://movie.daum.net/moviedb/main?movieId=11...
1115    https://movie.daum.net/moviedb/main?movieId=10...
Name: mainPageUrl, Length: 1116, dtype: object

In [15]:
def insert(mysql, 
           nickName, 
           movieId, 
           rating, 
           timestamp, 
           userId,
          review):
    insert_query = """
    INSERT INTO daum_ratings (nickName, movieId, rating, timestamp, userId, review)
    VALUES (%s, %s, %s, %s, %s, %s);
    """
        # 삽입할 데이터
    data_to_insert = (nickName, movieId, rating, timestamp, userId, review)
    with mysql.get_connection() as connection:
        cursor = connection.cursor()
        cursor.execute(insert_query, data_to_insert)
        connection.commit()

In [16]:
def get_movie_id(mysql, title_ko, mainurl):
    sql = f"""SELECT movieId FROM daum_movies WHERE titleKo = '{title_ko}' and mainPageUrl = '{mainurl}'
    """
    with mysql.get_connection().cursor() as cursor:
        cursor.execute(sql)
        data = cursor.fetchall()[0][0]
    return data
get_movie_id(mysql, '월드 워 Z', 'https://movie.daum.net/moviedb/main?movieId=48708')

261

In [17]:
from pymysql.err import IntegrityError
import time

## driver 열기

In [466]:
driver = webdriver.Chrome()

## 팝업창 수집

## 수집

In [18]:
daum_movies.loc[0:len(daum_movies)//10]

,movieId,titleKo,titleEn,mainPageUrl,posterUrl
0,261,월드 워 Z,None,https://movie.daum.net/moviedb/main?movieId=48708,https://img1.daumcdn.net/thumb/C408x596/?fname...
1,262,은밀하게 위대하게,None,https://movie.daum.net/moviedb/main?movieId=69884,https://img1.daumcdn.net/thumb/C408x596/?fname...
2,263,맨 오브 스틸,None,https://movie.daum.net/moviedb/main?movieId=43811,https://img1.daumcdn.net/thumb/C408x596/?fname...
3,264,스타트렉 다크니스,None,https://movie.daum.net/moviedb/main?movieId=62929,https://img1.daumcdn.net/thumb/C408x596/?fname...
4,265,더 콜,None,https://movie.daum.net/moviedb/main?movieId=71178,https://img1.daumcdn.net/thumb/C408x596/?fname...
...,...,...,...,...,...
107,368,카운슬러,None,https://movie.daum.net/moviedb/main?movieId=70117,https://img1.daumcdn.net/thumb/C408x596/?fname...
108,369,블랙 가스펠,None,https://movie.daum.net/moviedb/main?movieId=70501,https://img1.daumcdn.net/thumb/C408x596/?fname...
109,370,결혼전야,None,https://movie.daum.net/moviedb/main?movieId=78433,https://img1.daumcdn.net/thumb/C408x596/?fname...
110,371,헝거게임: 캣칭 파이어,None,https://movie.daum.net/moviedb/main?movieId=70225,https://img1.daumcdn.net/thumb/C408x596/?fname...
111,372,하늘에서 음식이 내린다면 2,None,https://movie.daum.net/moviedb/main?movieId=77990,https://img1.daumcdn.net/thumb/C408x596/?fname...

In [120]:
from selenium.common.exceptions import StaleElementReferenceException

def click_more(driver, num):
    for _ in range(num):
        try:
            driver.find_element(By.CSS_SELECTOR, '#alex-area > div > div > div > div.cmt_box > div.alex_more').click()
        except StaleElementReferenceException:
            # print(f"{_}, StaleElementReferenceException, break")
            break
        except NoSuchElementException:
            # print(f"{_}, NoSuchElementException, break")
            break
            
def click_popup_more(driver, num):
    for _ in range(num):
        try:
            driver.find_element(By.CSS_SELECTOR, 'div[data-reactid=".0.0.1"] div.alex_more').click()
        except StaleElementReferenceException:
            # print(f"{_}, StaleElementReferenceException, break")
            break
        except NoSuchElementException:
            # print(f"{_}, NoSuchElementException, break")
            break

In [113]:
import re
kor_dt_regex= re.compile('[가-힣]')

def insert(mysql, 
           nickName, 
           movieId, 
           rating, 
           timestamp, 
           userId,
          review):
    insert_query = """
    INSERT INTO daum_ratings (nickName, movieId, rating, timestamp, userId, review)
    VALUES (%s, %s, %s, %s, %s, %s);
    """
        # 삽입할 데이터
    data_to_insert = (nickName, movieId, rating, timestamp, userId, review)
    with mysql.get_connection() as connection:
        cursor = connection.cursor()
        cursor.execute(insert_query, data_to_insert)
        connection.commit()

def get_max_user_id_from_daum_ratings(mysql):  # 없으면 추가하고 id 불러옴
    
    max_query = """SELECT MAX(userId) FROM daum_ratings
    """
    with mysql.get_connection().cursor() as cursor:
        cursor.execute(max_query)
        max_value = cursor.fetchone()[0]
        # print(f"max_value : {max_value}")
    if max_value is not None:
        return max_value + 1
    return 0
        
        
        
def one_box_parsing(box):
    try:
        # review
        review = box.find_element(By.CSS_SELECTOR, 'p.desc_txt').text
        if len(review) < 10:  # 리뷰 길이 10자 이하면 나가
            # print(f"리뷰 10자 이하")
            return None
        
        # rating
        rating = box.find_element(By.CSS_SELECTOR, 'div.ratings').text
        
        # timestamp ##################
        time_dt = box.find_element(By.CSS_SELECTOR, 'span.txt_date').text
        if re.search(kor_dt_regex, time_dt):  # ex. 10시간전
            # print(f"리뷰 작성 시간 한글")
            return None
        rating_dt = dt.datetime.strptime(time_dt, '%Y. %m. %d. %H:%M')
        rating_timestamp = float(dt.datetime.timestamp(rating_dt))
        ##############################
        
        # nickname
        nickname = box.find_element(By.CSS_SELECTOR, 'div > strong > span > a > span:nth-child(2)').text
    
        return review, rating, rating_timestamp, nickname
    
    except NoSuchElementException as e:  # 리뷰가 없으면 못찾아
        # print(f"리뷰 없음 에러")
        return None

    
def one_mainpage_box_insert(box, mysql, title_ko, mainurl):

    parsing_results = one_box_parsing(box)
    if parsing_results is not None:
        review, rating, rating_timestamp, nickname = parsing_results

        try:
            insert(
                    mysql=mysql,
                    nickName=nickname,
                    movieId=get_movie_id(mysql, title_ko, mainurl),
                    rating=rating,
                    timestamp=rating_timestamp,
                    userId=None,
                    review=review
                  )
            # print(f"insert 성공")
        except IntegrityError:
            # print(f"insert 실패")
            pass



    
def one_popup_box_insert(box, mysql):
    parsing_results = one_box_parsing(box)
    if parsing_results is not None:
        review, rating, rating_timestamp, nickname = parsing_results
    
        # daum_movies에 영화가 있는지 확인하고, 없으면 넣고, 해당 movieId를 받아온다 ######################
        # 영화 제목, 링크 받기
        movie_tag = box.find_element(By.CSS_SELECTOR, 'strong.info_post a')
        pop_box_moviename = movie_tag.text
        pop_box_mainurl = movie_tag.get_attribute('href')
        if not check_movie_exists(mysql, pop_box_moviename, pop_box_mainurl):
            insert_daum_movie(mysql=mysql, title_ko=pop_box_moviename, mainpageurl=pop_box_mainurl)
        ######################################################################################

        try:
            insert(
                    mysql=mysql,
                    nickName=nickname,
                    movieId=get_movie_id(mysql, pop_box_moviename, pop_box_mainurl),
                    rating=rating,
                    timestamp=rating_timestamp,
                    userId=None,
                    review=review
                  )
            # print(f"insert 성공")
        except IntegrityError:
            # print(f"insert 실패")
            pass

In [118]:
mysql.get_daum_ratings()

/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/clients.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_ratings', con=connection)

,nickName,movieId,rating,timestamp,userId,review
0,닉네임,2880,10,1.700658e+09,None,좀비영화 싫어하는데 이건 넘 재밌네
1,닉네임,2881,8,1.668779e+09,None,의상 너무너무 예쁘다
2,닉네임,2564,9,1.657807e+09,None,오프닝 너~~~무 조으다\n별5개 다 못주는건 제니퍼..왜 나오셨쎄요?ㅜㅜ
3,닉네임,2351,5,1.648305e+09,None,햄릿이 넘 왕자같지않아. 몰입이 안돼
4,닉네임,2357,9,1.627718e+09,None,끝장면 과하지않아 넘넘좋다\n코끝이 찡~잘 만들어진 영화\n만점을 못준건 어떤 배우...
...,...,...,...,...,...,...
576,눈이부시게 그리움,412,9,1.504651e+09,None,재밌으면 되잖여ㅋㅋ
577,눈이부시게 그리움,1206,5,1.487001e+09,None,그럼에도 불구하고 일본은 아직도 기독교가 뿌리를 못내림\n태생이 진짜 악마스러워\n...
578,눈이부시게 그리움,2889,10,1.484782e+09,None,몇년만에 다시봐도 엄지척을 안할수가 없네요\n장국영의 연기는 최고
579,눈이부시게 그리움,1069,10,1.475426e+09,None,역시 송강호...공유도 멋져멋져..잘 봤어요
580,눈이부시게 그리움,1046,5,1.470671e+09,None,나는 왜 별로였던거지?? 연기잘하는 손예진과 멋진 박해일을 보고왔을뿐ㅜㅜ

In [21]:
def click_x(driver):
    driver.find_element(By.CSS_SELECTOR, 'div[data-reactid=".0.0.1"] div.my_layer.use_unfollow > div.my_header.no_divider > a > span').click()

In [23]:
def check_movie_exists(mysql, moviename, mainurl):
    sql_query = "SELECT * FROM daum_movies WHERE titleKo = %s and mainPageUrl = %s"

    with mysql.get_connection() as conn:
        cursor = conn.cursor()
        cursor.execute(sql_query, (moviename, mainurl,))
        result = cursor.fetchone()

    if result:
        return True
    else:
        return False

In [107]:
def insert_daum_movie(mysql, title_ko, mainpageurl):
    insert_query = "INSERT INTO daum_movies (movieId, titleKo, mainPageUrl) VALUES (%s, %s, %s)"
    
    select_query = "SELECT * FROM daum_movies WHERE titleKo = %s and mainpageurl = %s"
    with mysql.get_connection().cursor() as cursor:
        cursor.execute(select_query, (title_ko, mainpageurl, ))  # title_ko와 mainurl로 있는지 확인
        existing_data = cursor.fetchall()
        
    if not existing_data:
        with mysql.get_connection().cursor() as cursor:
            cursor.execute("SELECT MAX(movieId) FROM daum_movies")
            max_mid = cursor.fetchone()[0]
            max_mid = 0 if not max_mid else max_mid
            curr_mid = max_mid + 1

        data_to_insert = (curr_mid, title_ko, mainpageurl)
        with mysql.get_connection() as conn:
            cursor = conn.cursor()
            cursor.execute(insert_query, data_to_insert)
            conn.commit()

# main code

In [121]:
driver = webdriver.Chrome()

In [122]:
for i, row in daum_movies.loc[0:len(daum_movies)//10].iterrows():
    
    title_ko, mainpageurl = row['titleKo'], row['mainPageUrl']
    print(f"movie : {title_ko}".ljust(60, '-'))
    
    driver.get(mainpageurl.replace('main', 'grade'))
    time.sleep(1)
    
    click_more(driver, 30)
    time.sleep(0.5)
    
    rating_boxes = driver.find_elements(By.CSS_SELECTOR, 'div.wrap_alex ul.list_comment > li')
    
    print(f"# of rating box : {len(rating_boxes):5,}")
    
    for pop_i, box in enumerate(rating_boxes):
        
        # box에서 닉네임 클릭(클릭후 쉬기) ####################
        box_to_click = box.find_element(By.CSS_SELECTOR, 'div.cmt_info > strong > span > a > span:nth-child(2)')
        driver.execute_script("arguments[0].click();", box_to_click)
        time.sleep(0.5)
        ################################################
        
        # popup boxes 구해서 one_box_insert에 넘기기 #######
        popup_boxes = driver.find_elements(By.CSS_SELECTOR, 'div[data-reactid=".0.0.1"] ul.list_comment > li')
        click_popup_more(driver, 5)
        for pop_rating_box in popup_boxes:
            one_popup_box_insert(pop_rating_box, mysql)
        #################################################
            
        # 창 닫고 box를 one_box_insert에 넘기기 #############
        try:
            click_x(driver)
            
            time.sleep(0.5)
            one_mainpage_box_insert(box, mysql, title_ko, mainpageurl)
        except NoSuchElementException:
            # print(f"팝업이 안떴음")
            pass
        #################################################

movie : 월드 워 Z----------------------------------------------
# of rating box :   250
movie : 은밀하게 위대하게-------------------------------------------
# of rating box :   160
movie : 맨 오브 스틸---------------------------------------------
# of rating box :   190
movie : 스타트렉 다크니스-------------------------------------------
# of rating box :   190
movie : 더 콜-------------------------------------------------
# of rating box :   190
movie : 닥터--------------------------------------------------
# of rating box :   190
movie : 토토의 움직이는 숲------------------------------------------
# of rating box :    15
movie : 무서운 이야기 2-------------------------------------------
# of rating box :   190
movie : 크루즈 패밀리---------------------------------------------
# of rating box :   190
movie : 꼭두각시------------------------------------------------
# of rating box :   130
movie : 분노의 질주: 더 맥시멈---------------------------------------
# of rating box :   160
movie : 백악관 최후의 날-------------------------------------------
# of rating box :   160
movie : 비포 미드나잇---------------------------------------------
# of rating box :   190

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '66' and mainPageUrl = 'https://movie.daum.net/moviedb/main?movieId=1998'' at line 1")

# daum_ratings 불러오기

In [93]:
import pandas as pd
with mysql.get_connection() as connection:
    daum_ratings = pd.read_sql(sql='select * from daum_ratings', con=connection)
daum_ratings

/var/folders/cg/2vt5wbq5767fsxv0005k5x4m0000gn/T/ipykernel_50072/3919600470.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  daum_ratings = pd.read_sql(sql='select * from daum_ratings', con=connection)

,nickName,movieId,rating,timestamp,userId,review
0,닉네임,2880,10,1.700658e+09,None,좀비영화 싫어하는데 이건 넘 재밌네
1,닉네임,2881,8,1.668779e+09,None,의상 너무너무 예쁘다
2,닉네임,2880,10,1.700658e+09,None,좀비영화 싫어하는데 이건 넘 재밌네
3,닉네임,2881,8,1.668779e+09,None,의상 너무너무 예쁘다
4,닉네임,2880,10,1.700658e+09,None,좀비영화 싫어하는데 이건 넘 재밌네
...,...,...,...,...,...,...
304,순수,1123,10,1.647360e+09,None,가슴 시리다..\n훌륭한 영화군요
305,순수,1419,10,1.647313e+09,None,2번 봤는데\n너무 고맙습니다\n다시는 독재 안됩니다!
306,순수,1684,10,1.647231e+09,None,훌륭한 명화입니다\n학생들 모두가 봤으면 좋겠네요\n선진들께 감사드립니다.
307,순수,983,8,1.646991e+09,None,이제훈님과 반전이 아니였으연\n약간은 지루한 감도 있었어요..
308,순수,261,10,1.653570e+09,None,영화 잘 만들었네요~!!

# daum_movies 불러오기

In [123]:
mysql.get_daum_movies()

/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/clients.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_movies', con=connection)

,movieId,titleKo,titleEn,mainPageUrl,posterUrl
0,261,월드 워 Z,None,https://movie.daum.net/moviedb/main?movieId=48708,https://img1.daumcdn.net/thumb/C408x596/?fname...
1,262,은밀하게 위대하게,None,https://movie.daum.net/moviedb/main?movieId=69884,https://img1.daumcdn.net/thumb/C408x596/?fname...
2,263,맨 오브 스틸,None,https://movie.daum.net/moviedb/main?movieId=43811,https://img1.daumcdn.net/thumb/C408x596/?fname...
3,264,스타트렉 다크니스,None,https://movie.daum.net/moviedb/main?movieId=62929,https://img1.daumcdn.net/thumb/C408x596/?fname...
4,265,더 콜,None,https://movie.daum.net/moviedb/main?movieId=71178,https://img1.daumcdn.net/thumb/C408x596/?fname...
...,...,...,...,...,...
7266,7527,보더타운,None,https://movie.daum.net/moviedb/main?movieId=43069,None
7267,7528,베테랑,None,https://movie.daum.net/moviedb/main?movieId=64524,None
7268,7529,감각의 제국,None,https://movie.daum.net/moviedb/main?movieId=133,None
7269,7530,오발탄,None,https://movie.daum.net/moviedb/main?movieId=1628,None
7270,7531,버팔로 '66,None,https://movie.daum.net/moviedb/main?movieId=1998,None

# 테이블 초기화

In [458]:
with mysql.get_connection() as connection:
    cursor = connection.cursor()
    cursor.execute("DELETE FROM daum_movies")
    connection.commit()

In [416]:
with mysql.get_connection() as connection:
    cursor = connection.cursor()
    cursor.execute("DELETE FROM daum_ratings")
    connection.commit()

# table 아예 삭제

In [97]:
drop_table_query = "DROP TABLE IF EXISTS daum_ratings"

with mysql.get_connection().cursor() as cursor:
    cursor.execute(drop_table_query)

In [433]:
drop_table_query = "DROP TABLE IF EXISTS daum_movies"

with mysql.get_connection().cursor() as cursor:
    cursor.execute(drop_table_query)

In [208]:
mysql.get_table_names()

Tables :
daum_movies
movies
ratings

# 생성 후 unique 조건 추가

In [ ]:
with mysql.get_connection() as connection:
    cursor = connection.cursor()
    # ALTER TABLE을 사용하여 유니크 키 추가
    alter_table_query = """
    ALTER TABLE daum_ratings
    ADD CONSTRAINT unique_key1 UNIQUE (userId),
    ADD CONSTRAINT unique_key2 UNIQUE (movieId);
    """

    # SQL 쿼리 실행
    cursor.execute(alter_table_query)

    # 변경사항 저장
    connection.commit()

In [150]:
dt.datetime.fromtimestamp(daum_ratings['timestamp'][0])

datetime.datetime(2023, 8, 2, 9, 21)

# 현우님 코드

In [2]:
import sys
sys.path.append('../')

In [3]:
# brew install mysql-client
from clients import MysqlClient
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import StaleElementReferenceException

import time
import pandas as pd
import datetime as dt
import os
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from tqdm import tqdm 
import multiprocessing

os.environ['RDS_MYSQL_PW'] = 'Precsys1!'
os.environ['AWS_ACCESS_KEY_ID'] = 'AKIAWVKXOEHZOZZASCMP'
os.environ['AWS_SECRET_ACCESS_KEY'] = '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'
os.environ['AWS_REGION_NAME'] = "ap-northeast-2"

In [4]:
import re
movieid_regex = re.compile('movieId=([\d]+)')

In [5]:
def click_more(driver, num):
    for _ in range(num):
        try:
            driver.find_element(By.CSS_SELECTOR, '#alex-area > div > div > div > div.cmt_box > div.alex_more').click()
        except StaleElementReferenceException:
            break
        except NoSuchElementException:
            break


def click_popup_more(driver, num):
    for _ in range(num):
        try:
            driver.find_element(By.CSS_SELECTOR, 'div[data-reactid=".0.0.1"] div.alex_more').click()
        except StaleElementReferenceException:
            break
        except NoSuchElementException:
            break


# 같은 영화제목
# 괴물 ???!!!! movieId <- 번호를 같이 들고와야함 
def one_box_parsing(box):
    import re
    kor_dt_regex = re.compile('[가-힣]')  # 몇시간전 같은거 제외
    try:
        review = box.find_element(By.CSS_SELECTOR, 'p.desc_txt').text
        rating = box.find_element(By.CSS_SELECTOR, 'div.ratings').text
        time_dt = box.find_element(By.CSS_SELECTOR, 'span.txt_date').text
        if re.search(kor_dt_regex, time_dt):
            return None
        rating_dt = dt.datetime.strptime(time_dt, '%Y. %m. %d. %H:%M')
        rating_timestamp = float(dt.datetime.timestamp(rating_dt))
        nickname = box.find_element(By.CSS_SELECTOR, 'div > strong > span > a > span:nth-child(2)').text
        movie_mp_url = box.find_element(By.CSS_SELECTOR, '#my920547900 > div > strong.info_post > a').get_attribute(
            'href')
        movie_id = int(re.search(movieid_regex, movie_mp_url).group(1))
        return review, rating, rating_timestamp, nickname, movie_id
    except (NoSuchElementException, AttributeError) as e:
        return None


def process_movie_reviews(mainpageurl, shared_df, shared_nicknames):
    driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))  # 각 프로세스에서 새 웹드라이버 인스턴스를 생성합니다.
    driver.get(mainpageurl.replace('main', 'grade'))
    time.sleep(1)

    click_more(driver, 10)
    time.sleep(1)

    rating_boxes = driver.find_elements(By.CSS_SELECTOR, 'div.wrap_alex ul.list_comment > li')
    for pop_i, box in enumerate(rating_boxes):
        # box에서 닉네임 클릭(클릭후 쉬기) ####################
        box_to_click = box.find_element(By.CSS_SELECTOR, 'div.cmt_info > strong > span > a > span:nth-child(2)')
        driver.execute_script("arguments[0].click();", box_to_click)
        time.sleep(0.5)

        click_popup_more(driver, 10)
        popup_boxes = driver.find_elements(By.CSS_SELECTOR, 'div[data-reactid=".0.0.1"] ul.list_comment > li')
        for idx, popup_box in enumerate(popup_boxes):
            result = one_box_parsing(popup_box)
            if result is not None:
                review, rating, rating_timestamp, nickname, movie_id = result
                if nickname not in shared_nicknames:
                    shared_df.append([nickname, movie_id, rating, rating_timestamp, review])
                    
        # x 버튼을 눌러야함
        driver.find_element(By.CSS_SELECTOR, '#alex-area > div > div > div:nth-child(2) > div.my_layer.use_unfollow > div.my_header.no_divider > a > span').click()
        
        shared_nicknames.append(nickname)

    driver.quit()  # 웹드라이버 종료
    # output.put(inter_df)  # 결과를 output 큐에 저장

In [14]:
for pop_i, box in enumerate(rating_boxes):
    break

In [15]:
box_to_click = box.find_element(By.CSS_SELECTOR, 'div.cmt_info > strong > span > a > span:nth-child(2)')

In [16]:
box_to_click.text

'닉네임'

In [17]:
driver.close()

In [6]:
daum_movies = pd.read_csv("daum_movie.csv")

In [7]:
for i, row in tqdm(daum_movies[:1].iterrows()):
    break

0it [00:00, ?it/s]

In [8]:
row

mainPageUrl    https://movie.daum.net/moviedb/main?movieId=48708
titleKo                                                   월드 워 Z
movieId                                                    48708
posterUrl      https://img1.daumcdn.net/thumb/C408x596/?fname...
Name: 0, dtype: object

In [9]:
mainpageurl = row['mainPageUrl']
mainpageurl

'https://movie.daum.net/moviedb/main?movieId=48708'

In [10]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))  # 각 프로세스에서 새 웹드라이버 인스턴스를 생성합니다.

In [11]:
driver.get(mainpageurl.replace('main', 'grade'))

In [12]:
click_more(driver, 5)

In [13]:
rating_boxes = driver.find_elements(By.CSS_SELECTOR, 'div.wrap_alex ul.list_comment > li')

In [20]:
len(rating_boxes)

100

In [26]:
reviews = pd.read_csv('daum_review.csv')

In [27]:
reviews

,nickName,movieId,rating,timestamp,review
0,천연사이다,52842,8,1.662166e+09,재밌습니다
1,천연사이다,40845,10,1.629214e+09,감동~~!!!
2,천연사이다,2635,10,1.588163e+09,다시봐도 감동 입니다\n윌슨~~~!!!!!\nㅠㅠ
3,천연사이다,140319,10,1.587770e+09,굳
4,꿈몽이,75146,10,1.406988e+09,이정도면 한국영화치곤 꽤 잘만들었다..그래픽도 훌륭하고...무술연기 또한..\n다만...
...,...,...,...,...,...
2160,영민,43811,8,1.391307e+09,"전체적인 설정은 기존의 수퍼맨과 같지만, 이번엔 여주가 수퍼맨이 클락이란걸 알면서도..."
2161,영민,48708,8,1.391272e+09,"스케일이 좀 크고, 너무 잔인하거나 역겹지 않은 화면구성이라든지, 임시로나마 해결책..."
2162,영민,73574,5,1.390746e+09,"코믹,액션,무협, 그 모든것이 50%부족한 영화!!!\n스토리도 연기도 엉성해 보이..."
2163,영민,73751,7,1.390351e+09,"변함없는 설경구, 악역변신 정우성, 엉뚱발랄 한효주와\n기타 조연들의 연기에 그동안..."
2164,영민,64373,7,1.390139e+09,어디선가 많이 본듯한 전체적인 구성과 스토리지만\n그래도 나름대로 꽤 재밌는 영화...

In [31]:
sum(reviews.duplicated(subset=['review']))

199

In [22]:
reviews.nunique()

nickName       8
movieId      696
rating        10
timestamp    754
review       743
dtype: int64

In [25]:
reviews[reviews['movieId'] == 48708]

,nickName,movieId,rating,timestamp,review
0,닉네임,48708,10,1.700658e+09,좀비영화 싫어하는데 이건 넘 재밌네
47,닉네임을 등록해 주세요,48708,10,1.700655e+09,스피디한 전개 .숨막히는 긴장감 . 브래드피트가 주인공 이여서 보긴했지만. ...
88,땅콩샌드,48708,6,1.692231e+09,아쉬운 영화...나이 먹을수록 브래드피트는 더 좋아지고 있다...
401,kibbem12,48708,10,1.679407e+09,두시간의 러닝타임이 너무 짧다.
419,장성권,48708,10,1.675949e+09,액션 굿
549,김동혁,48708,9,1.675463e+09,이정표를 남긴 좀비 장르의 대작

In [ ]:
일부는 또 닉네임만 바뀌는데..?

더콜 엑스 안잡히나보다