# ratings 테이블 생성

## daum_movies

In [434]:
create_table_query = """CREATE TABLE `daum_movies` (
                                                  `movieId` int PRIMARY KEY AUTO_INCREMENT,
                                                  `titleKo` varchar(100) DEFAULT NULL,
                                                  `titleEn` varchar(100) DEFAULT NULL,
                                                  `mainPageUrl` text,
                                                  `posterUrl` text
                                                )"""
with mysql.get_connection().cursor() as cursor:
    cursor.execute(create_table_query)

## daum_ratings

In [98]:
create_table_query = """CREATE TABLE daum_ratings (
                                                    nickName VARCHAR(30),
                                                    movieId INT,
                                                    rating INT,
                                                    timestamp DOUBLE,
                                                    userId INT DEFAULT NULL,
                                                    review TEXT,
                                                    
                                                    FOREIGN KEY (movieId) REFERENCES daum_movies(movieId),
                                                    UNIQUE KEY unique_key1 (movieId, nickName)
                                                    )"""
with mysql.get_connection().cursor() as cursor:
    cursor.execute(create_table_query)

# 칼럼 추가하기

In [53]:
alter_table_query = """
                    ALTER TABLE daum_ratings
                    ADD COLUMN timestamp DOUBLE;
                    """
with mysql.get_connection().cursor() as cursor:
    cursor.execute(alter_table_query)

In [56]:
alter_table_query = """
                    ALTER TABLE daum_ratings
                    ADD COLUMN userId INT;
                    """
with mysql.get_connection().cursor() as cursor:
    cursor.execute(alter_table_query)

In [67]:
alter_table_query = """
                    ALTER TABLE daum_ratings
                    ADD COLUMN review TEXT;
                    """
with mysql.get_connection().cursor() as cursor:
    cursor.execute(alter_table_query)

# mysql

In [4]:
from clients import MysqlClient

In [143]:
import os
os.environ['RDS_MYSQL_PW'] = 'Precsys1!'
os.environ['AWS_ACCESS_KEY_ID'] = ''
os.environ['AWS_SECRET_ACCESS_KEY'] = ''
os.environ['AWS_REGION_NAME'] = "ap-northeast-2"

In [5]:
mysql = MysqlClient()

In [145]:
mysql.get_table_names()

Tables :
daum_movies
daum_ratings
movies
ratings

In [146]:
mysql.get_data_type(table_name='ratings')

Column: userId, Data Type: int
Column: movieId, Data Type: int
Column: rating, Data Type: float
Column: timestamp, Data Type: double

In [147]:
mysql.get_data_type(table_name='daum_movies')

Column: movieId, Data Type: int
Column: titleKo, Data Type: varchar(100)
Column: titleEn, Data Type: varchar(100)
Column: mainPageUrl, Data Type: text
Column: posterUrl, Data Type: text

In [148]:
# with mysql.get_connection().cursor() as cursor:
#     cursor.execute('SHOW CREATE TABLE daum_movies')
#     result = cursor.fetchall()[0]
    
# print(result[1])

In [149]:
mysql.get_data_type(table_name='daum_ratings')

Column: nickName, Data Type: varchar(30)
Column: movieId, Data Type: int
Column: rating, Data Type: int
Column: timestamp, Data Type: double
Column: userId, Data Type: int
Column: review, Data Type: text

In [150]:
# with mysql.get_connection().cursor() as cursor:
#     cursor.execute('SHOW CREATE TABLE daum_ratings')
#     result = cursor.fetchall()[0]
    
# print(result[1])

# Selenium

In [11]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import time
import datetime as dt

## driver 열기

In [12]:
driver = webdriver.Chrome()

In [13]:
daum_movies = mysql.get_daum_movies()
daum_movies

/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/clients.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_movies', con=connection)

,movieId,titleKo,titleEn,mainPageUrl,posterUrl
0,261,월드 워 Z,None,https://movie.daum.net/moviedb/main?movieId=48708,https://img1.daumcdn.net/thumb/C408x596/?fname...
1,262,은밀하게 위대하게,None,https://movie.daum.net/moviedb/main?movieId=69884,https://img1.daumcdn.net/thumb/C408x596/?fname...
2,263,맨 오브 스틸,None,https://movie.daum.net/moviedb/main?movieId=43811,https://img1.daumcdn.net/thumb/C408x596/?fname...
3,264,스타트렉 다크니스,None,https://movie.daum.net/moviedb/main?movieId=62929,https://img1.daumcdn.net/thumb/C408x596/?fname...
4,265,더 콜,None,https://movie.daum.net/moviedb/main?movieId=71178,https://img1.daumcdn.net/thumb/C408x596/?fname...
...,...,...,...,...,...
1111,1372,토르: 라그나로크,None,https://movie.daum.net/moviedb/main?movieId=93694,https://img1.daumcdn.net/thumb/C408x596/?fname...
1112,1373,너의 췌장을 먹고 싶어,None,https://movie.daum.net/moviedb/main?movieId=11...,https://img1.daumcdn.net/thumb/C408x596/?fname...
1113,1374,뷰티풀 투모로우,None,https://movie.daum.net/moviedb/main?movieId=11...,https://img1.daumcdn.net/thumb/C408x596/?fname...
1114,1375,배저로와 친구들: 신비한 모험,None,https://movie.daum.net/moviedb/main?movieId=11...,https://img1.daumcdn.net/thumb/C408x596/?fname...
1115,1376,유리정원,None,https://movie.daum.net/moviedb/main?movieId=10...,https://img1.daumcdn.net/thumb/C408x596/?fname...

In [14]:
daum_movies['mainPageUrl']

0       https://movie.daum.net/moviedb/main?movieId=48708
1       https://movie.daum.net/moviedb/main?movieId=69884
2       https://movie.daum.net/moviedb/main?movieId=43811
3       https://movie.daum.net/moviedb/main?movieId=62929
4       https://movie.daum.net/moviedb/main?movieId=71178
                              ...
1111    https://movie.daum.net/moviedb/main?movieId=93694
1112    https://movie.daum.net/moviedb/main?movieId=11...
1113    https://movie.daum.net/moviedb/main?movieId=11...
1114    https://movie.daum.net/moviedb/main?movieId=11...
1115    https://movie.daum.net/moviedb/main?movieId=10...
Name: mainPageUrl, Length: 1116, dtype: object

In [15]:
def insert(mysql, 
           nickName, 
           movieId, 
           rating, 
           timestamp, 
           userId,
          review):
    insert_query = """
    INSERT INTO daum_ratings (nickName, movieId, rating, timestamp, userId, review)
    VALUES (%s, %s, %s, %s, %s, %s);
    """
        # 삽입할 데이터
    data_to_insert = (nickName, movieId, rating, timestamp, userId, review)
    with mysql.get_connection() as connection:
        cursor = connection.cursor()
        cursor.execute(insert_query, data_to_insert)
        connection.commit()

In [16]:
def get_movie_id(mysql, title_ko, mainurl):
    sql = f"""SELECT movieId FROM daum_movies WHERE titleKo = '{title_ko}' and mainPageUrl = '{mainurl}'
    """
    with mysql.get_connection().cursor() as cursor:
        cursor.execute(sql)
        data = cursor.fetchall()[0][0]
    return data
get_movie_id(mysql, '월드 워 Z', 'https://movie.daum.net/moviedb/main?movieId=48708')

261

In [17]:
from pymysql.err import IntegrityError
import time

## driver 열기

In [466]:
driver = webdriver.Chrome()

## 팝업창 수집

## 수집

In [18]:
daum_movies.loc[0:len(daum_movies)//10]

,movieId,titleKo,titleEn,mainPageUrl,posterUrl
0,261,월드 워 Z,None,https://movie.daum.net/moviedb/main?movieId=48708,https://img1.daumcdn.net/thumb/C408x596/?fname...
1,262,은밀하게 위대하게,None,https://movie.daum.net/moviedb/main?movieId=69884,https://img1.daumcdn.net/thumb/C408x596/?fname...
2,263,맨 오브 스틸,None,https://movie.daum.net/moviedb/main?movieId=43811,https://img1.daumcdn.net/thumb/C408x596/?fname...
3,264,스타트렉 다크니스,None,https://movie.daum.net/moviedb/main?movieId=62929,https://img1.daumcdn.net/thumb/C408x596/?fname...
4,265,더 콜,None,https://movie.daum.net/moviedb/main?movieId=71178,https://img1.daumcdn.net/thumb/C408x596/?fname...
...,...,...,...,...,...
107,368,카운슬러,None,https://movie.daum.net/moviedb/main?movieId=70117,https://img1.daumcdn.net/thumb/C408x596/?fname...
108,369,블랙 가스펠,None,https://movie.daum.net/moviedb/main?movieId=70501,https://img1.daumcdn.net/thumb/C408x596/?fname...
109,370,결혼전야,None,https://movie.daum.net/moviedb/main?movieId=78433,https://img1.daumcdn.net/thumb/C408x596/?fname...
110,371,헝거게임: 캣칭 파이어,None,https://movie.daum.net/moviedb/main?movieId=70225,https://img1.daumcdn.net/thumb/C408x596/?fname...
111,372,하늘에서 음식이 내린다면 2,None,https://movie.daum.net/moviedb/main?movieId=77990,https://img1.daumcdn.net/thumb/C408x596/?fname...

In [120]:
from selenium.common.exceptions import StaleElementReferenceException

def click_more(driver, num):
    for _ in range(num):
        try:
            driver.find_element(By.CSS_SELECTOR, '#alex-area > div > div > div > div.cmt_box > div.alex_more').click()
        except StaleElementReferenceException:
            # print(f"{_}, StaleElementReferenceException, break")
            break
        except NoSuchElementException:
            # print(f"{_}, NoSuchElementException, break")
            break
            
def click_popup_more(driver, num):
    for _ in range(num):
        try:
            driver.find_element(By.CSS_SELECTOR, 'div[data-reactid=".0.0.1"] div.alex_more').click()
        except StaleElementReferenceException:
            # print(f"{_}, StaleElementReferenceException, break")
            break
        except NoSuchElementException:
            # print(f"{_}, NoSuchElementException, break")
            break

In [113]:
import re
kor_dt_regex= re.compile('[가-힣]')

def insert(mysql, 
           nickName, 
           movieId, 
           rating, 
           timestamp, 
           userId,
          review):
    insert_query = """
    INSERT INTO daum_ratings (nickName, movieId, rating, timestamp, userId, review)
    VALUES (%s, %s, %s, %s, %s, %s);
    """
        # 삽입할 데이터
    data_to_insert = (nickName, movieId, rating, timestamp, userId, review)
    with mysql.get_connection() as connection:
        cursor = connection.cursor()
        cursor.execute(insert_query, data_to_insert)
        connection.commit()

def get_max_user_id_from_daum_ratings(mysql):  # 없으면 추가하고 id 불러옴
    
    max_query = """SELECT MAX(userId) FROM daum_ratings
    """
    with mysql.get_connection().cursor() as cursor:
        cursor.execute(max_query)
        max_value = cursor.fetchone()[0]
        # print(f"max_value : {max_value}")
    if max_value is not None:
        return max_value + 1
    return 0
        
        
        
def one_box_parsing(box):
    try:
        # review
        review = box.find_element(By.CSS_SELECTOR, 'p.desc_txt').text
        if len(review) < 10:  # 리뷰 길이 10자 이하면 나가
            # print(f"리뷰 10자 이하")
            return None
        
        # rating
        rating = box.find_element(By.CSS_SELECTOR, 'div.ratings').text
        
        # timestamp ##################
        time_dt = box.find_element(By.CSS_SELECTOR, 'span.txt_date').text
        if re.search(kor_dt_regex, time_dt):  # ex. 10시간전
            # print(f"리뷰 작성 시간 한글")
            return None
        rating_dt = dt.datetime.strptime(time_dt, '%Y. %m. %d. %H:%M')
        rating_timestamp = float(dt.datetime.timestamp(rating_dt))
        ##############################
        
        # nickname
        nickname = box.find_element(By.CSS_SELECTOR, 'div > strong > span > a > span:nth-child(2)').text
    
        return review, rating, rating_timestamp, nickname
    
    except NoSuchElementException as e:  # 리뷰가 없으면 못찾아
        # print(f"리뷰 없음 에러")
        return None

    
def one_mainpage_box_insert(box, mysql, title_ko, mainurl):

    parsing_results = one_box_parsing(box)
    if parsing_results is not None:
        review, rating, rating_timestamp, nickname = parsing_results

        try:
            insert(
                    mysql=mysql,
                    nickName=nickname,
                    movieId=get_movie_id(mysql, title_ko, mainurl),
                    rating=rating,
                    timestamp=rating_timestamp,
                    userId=None,
                    review=review
                  )
            # print(f"insert 성공")
        except IntegrityError:
            # print(f"insert 실패")
            pass



    
def one_popup_box_insert(box, mysql):
    parsing_results = one_box_parsing(box)
    if parsing_results is not None:
        review, rating, rating_timestamp, nickname = parsing_results
    
        # daum_movies에 영화가 있는지 확인하고, 없으면 넣고, 해당 movieId를 받아온다 ######################
        # 영화 제목, 링크 받기
        movie_tag = box.find_element(By.CSS_SELECTOR, 'strong.info_post a')
        pop_box_moviename = movie_tag.text
        pop_box_mainurl = movie_tag.get_attribute('href')
        if not check_movie_exists(mysql, pop_box_moviename, pop_box_mainurl):
            insert_daum_movie(mysql=mysql, title_ko=pop_box_moviename, mainpageurl=pop_box_mainurl)
        ######################################################################################

        try:
            insert(
                    mysql=mysql,
                    nickName=nickname,
                    movieId=get_movie_id(mysql, pop_box_moviename, pop_box_mainurl),
                    rating=rating,
                    timestamp=rating_timestamp,
                    userId=None,
                    review=review
                  )
            # print(f"insert 성공")
        except IntegrityError:
            # print(f"insert 실패")
            pass

In [151]:
mysql.get_daum_ratings()

/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/notebooks/../clients.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_ratings', con=connection)

,nickName,movieId,rating,timestamp,userId,review
0,닉네임,2880,10,1.700658e+09,None,좀비영화 싫어하는데 이건 넘 재밌네
1,닉네임,2881,8,1.668779e+09,None,의상 너무너무 예쁘다
2,닉네임,2564,9,1.657807e+09,None,오프닝 너~~~무 조으다\n별5개 다 못주는건 제니퍼..왜 나오셨쎄요?ㅜㅜ
3,닉네임,2351,5,1.648305e+09,None,햄릿이 넘 왕자같지않아. 몰입이 안돼
4,닉네임,2357,9,1.627718e+09,None,끝장면 과하지않아 넘넘좋다\n코끝이 찡~잘 만들어진 영화\n만점을 못준건 어떤 배우...
...,...,...,...,...,...,...
20128,운동해야지,2081,0,1.595246e+09,None,연상호는 그저 운이 좋았을뿐 전작도 신파에 그저 그랬는데 과대평가됐지
20129,운동해야지,3247,9,1.584676e+09,None,"지져스, 이래서 헐리웃 작가들이 천문학적 돈을 받는 이유가 있는 거지, 얼마나 고증..."
20130,운동해야지,4357,5,1.582536e+09,None,근데 이 집의 가족 구성이 어찌 된 일이에요? 아빠는 백인 엄마가 코리언이고 애들은...
20131,운동해야지,1962,1,1.579430e+09,None,한국 영화계갖어쩌다 이렇게 됐을꼬. 보통 좌익정권하에 좋은 영화들이 많이 탄생되는데...
20132,운동해야지,7530,10,1.573042e+09,None,"하녀, 오발탄, 마부, 월하의 공동묘지 \n한때 씨네필이었던 나를 가슴 뛰게 했던 ..."

In [21]:
def click_x(driver):
    driver.find_element(By.CSS_SELECTOR, 'div[data-reactid=".0.0.1"] div.my_layer.use_unfollow > div.my_header.no_divider > a > span').click()

In [23]:
def check_movie_exists(mysql, moviename, mainurl):
    sql_query = "SELECT * FROM daum_movies WHERE titleKo = %s and mainPageUrl = %s"

    with mysql.get_connection() as conn:
        cursor = conn.cursor()
        cursor.execute(sql_query, (moviename, mainurl,))
        result = cursor.fetchone()

    if result:
        return True
    else:
        return False

In [107]:
def insert_daum_movie(mysql, title_ko, mainpageurl):
    insert_query = "INSERT INTO daum_movies (movieId, titleKo, mainPageUrl) VALUES (%s, %s, %s)"
    
    select_query = "SELECT * FROM daum_movies WHERE titleKo = %s and mainpageurl = %s"
    with mysql.get_connection().cursor() as cursor:
        cursor.execute(select_query, (title_ko, mainpageurl, ))  # title_ko와 mainurl로 있는지 확인
        existing_data = cursor.fetchall()
        
    if not existing_data:
        with mysql.get_connection().cursor() as cursor:
            cursor.execute("SELECT MAX(movieId) FROM daum_movies")
            max_mid = cursor.fetchone()[0]
            max_mid = 0 if not max_mid else max_mid
            curr_mid = max_mid + 1

        data_to_insert = (curr_mid, title_ko, mainpageurl)
        with mysql.get_connection() as conn:
            cursor = conn.cursor()
            cursor.execute(insert_query, data_to_insert)
            conn.commit()

# main code

In [121]:
driver = webdriver.Chrome()

In [122]:
for i, row in daum_movies.loc[0:len(daum_movies)//10].iterrows():
    
    title_ko, mainpageurl = row['titleKo'], row['mainPageUrl']
    print(f"movie : {title_ko}".ljust(60, '-'))
    
    driver.get(mainpageurl.replace('main', 'grade'))
    time.sleep(1)
    
    click_more(driver, 30)
    time.sleep(0.5)
    
    rating_boxes = driver.find_elements(By.CSS_SELECTOR, 'div.wrap_alex ul.list_comment > li')
    
    print(f"# of rating box : {len(rating_boxes):5,}")
    
    for pop_i, box in enumerate(rating_boxes):
        
        # box에서 닉네임 클릭(클릭후 쉬기) ####################
        box_to_click = box.find_element(By.CSS_SELECTOR, 'div.cmt_info > strong > span > a > span:nth-child(2)')
        driver.execute_script("arguments[0].click();", box_to_click)
        time.sleep(0.5)
        ################################################
        
        # popup boxes 구해서 one_box_insert에 넘기기 #######
        popup_boxes = driver.find_elements(By.CSS_SELECTOR, 'div[data-reactid=".0.0.1"] ul.list_comment > li')
        click_popup_more(driver, 5)
        for pop_rating_box in popup_boxes:
            one_popup_box_insert(pop_rating_box, mysql)
        #################################################
            
        # 창 닫고 box를 one_box_insert에 넘기기 #############
        try:
            click_x(driver)
            
            time.sleep(0.5)
            one_mainpage_box_insert(box, mysql, title_ko, mainpageurl)
        except NoSuchElementException:
            # print(f"팝업이 안떴음")
            pass
        #################################################

movie : 월드 워 Z----------------------------------------------
# of rating box :   250
movie : 은밀하게 위대하게-------------------------------------------
# of rating box :   160
movie : 맨 오브 스틸---------------------------------------------
# of rating box :   190
movie : 스타트렉 다크니스-------------------------------------------
# of rating box :   190
movie : 더 콜-------------------------------------------------
# of rating box :   190
movie : 닥터--------------------------------------------------
# of rating box :   190
movie : 토토의 움직이는 숲------------------------------------------
# of rating box :    15
movie : 무서운 이야기 2-------------------------------------------
# of rating box :   190
movie : 크루즈 패밀리---------------------------------------------
# of rating box :   190
movie : 꼭두각시------------------------------------------------
# of rating box :   130
movie : 분노의 질주: 더 맥시멈---------------------------------------
# of rating box :   160
movie : 백악관 최후의 날-------------------------------------------
# of rating box :   160
movie : 비포 미드나잇---------------------------------------------
# of rating box :   190

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '66' and mainPageUrl = 'https://movie.daum.net/moviedb/main?movieId=1998'' at line 1")

# daum_ratings 불러오기

In [93]:
import pandas as pd
with mysql.get_connection() as connection:
    daum_ratings = pd.read_sql(sql='select * from daum_ratings', con=connection)
daum_ratings

/var/folders/cg/2vt5wbq5767fsxv0005k5x4m0000gn/T/ipykernel_50072/3919600470.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  daum_ratings = pd.read_sql(sql='select * from daum_ratings', con=connection)

,nickName,movieId,rating,timestamp,userId,review
0,닉네임,2880,10,1.700658e+09,None,좀비영화 싫어하는데 이건 넘 재밌네
1,닉네임,2881,8,1.668779e+09,None,의상 너무너무 예쁘다
2,닉네임,2880,10,1.700658e+09,None,좀비영화 싫어하는데 이건 넘 재밌네
3,닉네임,2881,8,1.668779e+09,None,의상 너무너무 예쁘다
4,닉네임,2880,10,1.700658e+09,None,좀비영화 싫어하는데 이건 넘 재밌네
...,...,...,...,...,...,...
304,순수,1123,10,1.647360e+09,None,가슴 시리다..\n훌륭한 영화군요
305,순수,1419,10,1.647313e+09,None,2번 봤는데\n너무 고맙습니다\n다시는 독재 안됩니다!
306,순수,1684,10,1.647231e+09,None,훌륭한 명화입니다\n학생들 모두가 봤으면 좋겠네요\n선진들께 감사드립니다.
307,순수,983,8,1.646991e+09,None,이제훈님과 반전이 아니였으연\n약간은 지루한 감도 있었어요..
308,순수,261,10,1.653570e+09,None,영화 잘 만들었네요~!!

# daum_movies 불러오기

In [155]:
mysql.get_daum_movies()

/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/notebooks/../clients.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_movies', con=connection)

Empty DataFrame
Columns: [movieId, titleKo, titleEn, mainPageUrl, posterUrl]
Index: []

# 테이블 초기화

In [154]:
with mysql.get_connection() as connection:
    cursor = connection.cursor()
    cursor.execute("DELETE FROM daum_movies")
    connection.commit()

In [34]:
with mysql.get_connection() as connection:
    cursor = connection.cursor()
    cursor.execute("DELETE FROM daum_ratings")
    connection.commit()

# table 아예 삭제

In [97]:
drop_table_query = "DROP TABLE IF EXISTS daum_ratings"

with mysql.get_connection().cursor() as cursor:
    cursor.execute(drop_table_query)

In [433]:
drop_table_query = "DROP TABLE IF EXISTS daum_movies"

with mysql.get_connection().cursor() as cursor:
    cursor.execute(drop_table_query)

In [208]:
mysql.get_table_names()

Tables :
daum_movies
movies
ratings

# 생성 후 unique 조건 추가

In [ ]:
with mysql.get_connection() as connection:
    cursor = connection.cursor()
    # ALTER TABLE을 사용하여 유니크 키 추가
    alter_table_query = """
    ALTER TABLE daum_ratings
    ADD CONSTRAINT unique_key1 UNIQUE (userId),
    ADD CONSTRAINT unique_key2 UNIQUE (movieId);
    """

    # SQL 쿼리 실행
    cursor.execute(alter_table_query)

    # 변경사항 저장
    connection.commit()

In [150]:
dt.datetime.fromtimestamp(daum_ratings['timestamp'][0])

datetime.datetime(2023, 8, 2, 9, 21)

# 하나씩 해결하기

In [1]:
# brew install mysql-client
import sys

import numpy as np

sys.path.append('../')
import re
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException

from clients import MysqlClient
import time
import pandas as pd
import datetime as dt
import os
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from tqdm import tqdm
import multiprocessing

In [2]:
def wait_till_n_site(driver):
    while True:
        try:
            n_site_tag = driver.find_element(By.CSS_SELECTOR, 'span.txt_netizen')
            if n_site_tag.text != '':
                print(f"!!!!!{n_site_tag.text}")
                break
        except NoSuchElementException:
            continue


def parse_poster_url(driver):
    poster_regex = re.compile(r"\"(.+)\"")
    try:
        poster_attr = driver.find_element(By.CSS_SELECTOR, 'span.bg_img').get_attribute('style')
        poster_url = re.search(poster_regex, poster_attr).group(1)
        return poster_url
    except (NoSuchElementException, AttributeError):
        return None


def insert_movie_info(mysql, update_values, mid):
    with mysql.get_connection() as conn:
        cursor = conn.cursor()

        # 업데이트 쿼리 작성
        update_query = """
            UPDATE daum_movies
            SET {update_columns}
            WHERE movieId = %s;
        """.format(update_columns=", ".join(f"{key} = %s" for key in update_values.keys()))

        # 쿼리 실행
        cursor.execute(update_query, list(update_values.values()) + [mid])

        # 변경사항을 커밋
        conn.commit()
    print(f"{update_values['titleKo']}")


def main(daum_movies):
    mysql = MysqlClient()
    driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))
    for mid in daum_movies['movieId']:
        url = f"https://movie.daum.net/moviedb/grade?movieId={mid}"
        driver.get(url)
        # 별개수 뜰때까지 기다림
        wait_till_n_site(driver)

        n_site_regex = re.compile(r"\d+")
        # titleKo
        title_ko = driver.find_element(By.CSS_SELECTOR,
                                       'div.info_detail > div.detail_tit > h3 > span.txt_tit').text.replace(',', '')
        # posterUrl
        poster_url = parse_poster_url(driver)
        # titleEn
        title_en = driver.find_element(By.CSS_SELECTOR, 'span.txt_name').text.replace(',', '')
        # nOfSiteRatings
        n_site_txt = driver.find_element(By.CSS_SELECTOR, 'span.txt_netizen').text
        n_site_int = int(re.search(n_site_regex, n_site_txt).group())

        # 업데이트할 값들 설정
        update_values = {
            'titleKo': title_ko,
            'titleEn': title_en,
            'mainPageUrl': url,
            'posterUrl': poster_url,
            'numOfSiteRatings': n_site_int
        }

        insert_movie_info(mysql, update_values, mid)

In [3]:
    mysql = MysqlClient()
    daum_movies = mysql.get_daum_movies()
    df = daum_movies[daum_movies['titleKo'].isnull()]
    print(f"수집할 영화 수 : {len(df)}")
    # 사용할 프로세스 수

/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/notebooks/../clients.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_movies', con=connection)

수집할 영화 수 : 538

In [4]:
daum_movies[daum_movies['titleKo'] == '괴물'].iloc[1]['posterUrl']

'https://img1.daumcdn.net/thumb/C408x596/?fname=http%3A%2F%2Ft1.daumcdn.net%2Fcfile%2F12110210A8F1224840'

In [195]:
mysql = MysqlClient()

In [196]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

In [197]:
url = "https://movie.daum.net/moviedb/grade?movieId=1677"

In [198]:
driver.get(url)

In [227]:
with mysql.get_connection() as conn:
    cursor = conn.cursor()
    cursor.execute("""
    SELECT dm.*
    FROM daum_movies dm
    JOIN (
        SELECT movieId
        FROM daum_ratings
        GROUP BY movieId
        HAVING COUNT(*) <= 5
    ) dr ON dm.movieId = dr.movieId
    """)
    columns = [desc[0] for desc in cursor.description]
    result_df = pd.DataFrame(cursor.fetchall(), columns=columns)
    result_df = result_df.sort_index(ascending=False)

In [6]:
with mysql.get_connection() as conn:
    # SQL 쿼리 실행
    query = "SELECT movieId, COUNT(*) AS count FROM daum_ratings GROUP BY movieId;"
    dr_cnt = pd.read_sql_query(query, conn)

# 결과 확인
dr_cnt

/var/folders/cg/2vt5wbq5767fsxv0005k5x4m0000gn/T/ipykernel_8680/2158844902.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dr_cnt = pd.read_sql_query(query, conn)

       movieId  count
0            1     23
1            2     12
2            3      4
3            4     14
4            5     14
...        ...    ...
24291   175738      2
24292   175807      1
24293   175838      3
24294   175990      3
24295   176148      1

[24296 rows x 2 columns]

In [7]:
# 왼쪽 조인
join_df = pd.merge(dr_cnt, daum_movies, on='movieId', how='left')

join_df

,movieId,count,titleKo,titleEn,mainPageUrl,posterUrl,numOfSiteRatings
0,1,23,플란다스의 개,Barking Dogs Never Bite 2000,https://movie.daum.net/moviedb/grade?movieId=1,https://img1.daumcdn.net/thumb/C408x596/?fname...,126.0
1,2,12,카라,Calla 1999,https://movie.daum.net/moviedb/grade?movieId=2,https://img1.daumcdn.net/thumb/C408x596/?fname...,23.0
2,3,4,주노명 베이커리,2000,https://movie.daum.net/moviedb/grade?movieId=3,None,15.0
3,4,14,여고괴담 두번째 이야기,Memento Mori 1999,https://movie.daum.net/moviedb/grade?movieId=4,https://img1.daumcdn.net/thumb/C408x596/?fname...,74.0
4,5,14,행복한 장의사,2000,https://movie.daum.net/moviedb/grade?movieId=5,https://img1.daumcdn.net/thumb/C408x596/?fname...,53.0
...,...,...,...,...,...,...,...
24291,175738,2,파묘,2022,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,2.0
24292,175807,1,고질라 x 콩: 더 뉴 엠파이어,Godzilla x Kong: The New Empire 2024,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0
24293,175838,3,장안궤사전,The Man's Secret 長安詭事傳 2023,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,3.0
24294,175990,3,실버 앤드 더 북 오브 드림스,Silver and the Book of Dreams Silber und das B...,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,3.0
24295,176148,1,쿵푸팬더4,Kung Fu Panda 4 2024,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0

In [11]:
join_df[(join_df['count'] < join_df['numOfSiteRatings']) & (join_df['count'] < 10)]

,movieId,count,titleKo,titleEn,mainPageUrl,posterUrl,numOfSiteRatings
2,3,4,주노명 베이커리,2000,https://movie.daum.net/moviedb/grade?movieId=3,None,15.0
5,6,4,춘향뎐,ChunHyang 春香傳 2000,https://movie.daum.net/moviedb/grade?movieId=6,https://img1.daumcdn.net/thumb/C408x596/?fname...,44.0
8,9,4,러브,Love 1999,https://movie.daum.net/moviedb/grade?movieId=9,https://img1.daumcdn.net/thumb/C408x596/?fname...,13.0
9,10,4,자귀모,Ghost In Love 1999,https://movie.daum.net/moviedb/grade?movieId=10,https://img1.daumcdn.net/thumb/C408x596/?fname...,10.0
10,11,9,거짓말,Lies 1999,https://movie.daum.net/moviedb/grade?movieId=11,https://img1.daumcdn.net/thumb/C408x596/?fname...,73.0
...,...,...,...,...,...,...,...
24168,173235,3,더 마쉬 킹스 도터,The Marsh King's Daughter 2023,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,4.0
24178,173359,4,휴가 친구 2,Vacation Friends 2 2023,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,5.0
24249,174576,5,언더 유어 베드,Under Your Bed 2023,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,6.0
24272,175005,2,노 엑시트,Night of the Hunted 2023,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,3.0
24281,175190,1,패밀리 플랜,The Family Plan 2023,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,2.0

In [235]:
daum_movies

,movieId,titleKo,titleEn,mainPageUrl,posterUrl,numOfSiteRatings
0,1,플란다스의 개,Barking Dogs Never Bite 2000,https://movie.daum.net/moviedb/grade?movieId=1,https://img1.daumcdn.net/thumb/C408x596/?fname...,126.0
1,2,카라,Calla 1999,https://movie.daum.net/moviedb/grade?movieId=2,https://img1.daumcdn.net/thumb/C408x596/?fname...,23.0
2,3,주노명 베이커리,2000,https://movie.daum.net/moviedb/grade?movieId=3,None,15.0
3,4,여고괴담 두번째 이야기,Memento Mori 1999,https://movie.daum.net/moviedb/grade?movieId=4,https://img1.daumcdn.net/thumb/C408x596/?fname...,74.0
4,5,행복한 장의사,2000,https://movie.daum.net/moviedb/grade?movieId=5,https://img1.daumcdn.net/thumb/C408x596/?fname...,53.0
...,...,...,...,...,...,...
23962,175738,파묘,2022,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,2.0
23963,175807,고질라 x 콩: 더 뉴 엠파이어,Godzilla x Kong: The New Empire 2024,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0
23964,175838,장안궤사전,The Man's Secret 長安詭事傳 2023,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,3.0
23965,175990,실버 앤드 더 북 오브 드림스,Silver and the Book of Dreams Silber und das B...,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,3.0
23966,176148,쿵푸팬더4,Kung Fu Panda 4 2024,https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0

In [13]:
mysql.get_count(table_name='daum_ratings')

354949

In [14]:
mysql.get_count(table_name='daum_movies')

25512