In [1]:
import sys
sys.path.append('../')

from clients import MysqlClient
from dotenv import load_dotenv
import os

load_dotenv()
os.getenv('AWS_ACCESS_KEY_ID')
os.getenv('AWS_SECRET_ACCESS_KEY')
mysql = MysqlClient()

In [74]:
mysql.get_table_names()

Tables :
daum_movies
daum_pop_movies_update_info
daum_ratings
movies
ratings

In [18]:
sql = """
SELECT *
FROM daum_movies
WHERE movieId = '1'
"""

sql = """
SHOW TABLES
"""

sql = """
CREATE TABLE daum_pop_movies AS
SELECT * FROM daum_movies WHERE 1=0;
"""
with mysql.get_connection().cursor() as cursor:
    cursor.execute(sql)
    data = cursor.fetchall()

In [16]:
cursor.fetchall()

()

In [17]:
data

(('daum_movies',), ('daum_ratings',), ('movies',), ('ratings',))

In [6]:
cursor.fetchall()

()

In [19]:
mysql.get_table_names()

Tables :
daum_movies
daum_pop_movies
daum_ratings
movies
ratings

In [23]:
import pandas as pd

sql = """
select *
from daum_pop_movies
"""

with mysql.get_connection() as connection:
    df = pd.read_sql(sql=sql, con=connection)

/var/folders/cg/2vt5wbq5767fsxv0005k5x4m0000gn/T/ipykernel_62885/2521560428.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=sql, con=connection)

In [25]:
df

Empty DataFrame
Columns: [movieId, titleKo, titleEn, synopsis, cast, mainPageUrl, posterUrl, numOfSiteRatings]
Index: []

In [89]:
host = "pseudorec.cvhv2t0obyv3.ap-northeast-2.rds.amazonaws.com"
db_url = f"mysql+mysqlconnector://admin:{os.getenv('RDS_MYSQL_PW')}@{host}:3306/movielens25m"

In [90]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(db_url)

In [91]:
grouped_df = daum_ratings.groupby('movieId')['rating'].agg(['mean', 'count']).reset_index()
rating_calculated_df = grouped_df.sort_values('mean', ascending=False)
rating_calculated_df

rating_calculated_df.to_sql(name='daum_pop_movies', con=engine, if_exists='replace', index=False)

30157

In [92]:
sql = """
select *
from daum_pop_movies
"""
df = pd.read_sql(sql=sql, con=engine)

In [93]:
df

       movieId  mean  count
0        33335  10.0      4
1        30103  10.0      1
2        30182  10.0      1
3       106973  10.0      1
4       106974  10.0      1
...        ...   ...    ...
30152   101049   0.0      1
30153    44097   0.0      1
30154   101210   0.0      1
30155   101223   0.0      1
30156    84920   0.0      1

[30157 rows x 3 columns]

In [ ]:
ë§Œë“¤ì—ˆìœ¼ë‹ˆ ê³„ì‚°ì‹ .pyì— ë§Œë“¤ê³  
ì‹œê°„ ì €ì¥í•˜ëŠ” í…Œì´ë¸” ë˜ ë§Œë“¤ê³ 

.py íŒŒì¼ ì‘ì„±í•˜ì

In [83]:
create_table_query = """
CREATE TABLE daum_pop_movies (
                                movieId INT PRIMARY KEY,
                                mean FLOAT,
                                count INT
                                )
"""


with mysql.get_connection().cursor() as cursor:
    cursor.execute(create_table_query)

In [84]:
mysql.get_table_names()

Tables :
daum_movies
daum_pop_movies
daum_ratings
movies
ratings

In [94]:
import pandas as pd
sql = """
select *
from daum_pop_movies
"""
df = pd.read_sql(sql=sql, con=engine)

df

       movieId  mean  count
0        33335  10.0      4
1        30103  10.0      1
2        30182  10.0      1
3       106973  10.0      1
4       106974  10.0      1
...        ...   ...    ...
30152   101049   0.0      1
30153    44097   0.0      1
30154   101210   0.0      1
30155   101223   0.0      1
30156    84920   0.0      1

[30157 rows x 3 columns]

In [96]:
df[df['count'] > 500].sort_values('mean', ascending=False).head(100)

       movieId      mean  count
3620     76325  9.563291   2686
4035     91662  9.462662    616
4036    108595  9.455903   1406
4045    108944  9.452693    687
4143    119688  9.395866    629
...        ...       ...    ...
25155   120834  4.832727    550
25325   119835  4.667732    626
25406   125372  4.658672   1084
25494    94647  4.569767    688
25821   134684  4.363359    655

[100 rows x 3 columns]

In [20]:
from datetime import datetime

current_timestamp = int(datetime.now().timestamp())
print(current_timestamp)

1705737470

In [14]:
sql

'\nselect *\nfrom daum_pop_movies_update_info\n'

In [ ]:
ALTER TABLE daum_pop_movies_update_info
MODIFY COLUMN last_update_timestamp INT NOT NULL;

In [30]:
import time
current_timestamp = int(time.time())
current_timestamp

1705737843

In [26]:
import time
current_timestamp = int(time.time())

sql = "INSERT INTO daum_pop_movies_update_info (last_update_timestamp) VALUES (%s);"
sql


with mysql.get_connection() as connection:
    cursor = connection.cursor()
    # cursor.execute(sql)
    cursor.execute(sql, (current_timestamp,))
    
    connection.commit()

In [56]:
current_timestamp

1705736847

# ì‚­ì œ (í‰ì  í…Œì´ë¸” ì‚­ì œí•˜ì§€ì•Šê²Œ ì¡°ì‹¬)

In [75]:
sql = """
DROP TABLE daum_pop_movies_update_info
"""

with mysql.get_connection() as connection:
    cursor = connection.cursor()
    cursor.execute(sql)
    connection.commit()

In [76]:
mysql.get_table_names()

Tables :
daum_movies
daum_ratings
movies
ratings

In [32]:
from collections import Counter

In [43]:
daum_ratings = mysql.get_daum_ratings()
daum_ratings = daum_ratings[daum_ratings['nickName'].map(lambda x: x not in ['íœ´ë©´ ì‚¬ìš©ì', '', 'ë‹‰ë„¤ì„ì„ ë“±ë¡í•´ ì£¼ì„¸ìš”', 'ë‹‰ë„¤ì„'])]
daum_movies = mysql.get_daum_movies()

/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/notebooks/../clients.py:45: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_ratings', con=connection)
/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment/notebooks/../clients.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from daum_movies', con=connection)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# MySQL ì—°ê²° ë¬¸ìì—´
host = "pseudorec.cvhv2t0obyv3.ap-northeast-2.rds.amazonaws.com"
db_url = f"mysql+mysqlconnector://admin:{os.getenv('RDS_MYSQL_PW')}@{host}:3306/movielens25m"


# MySQL í…Œì´ë¸”ì— ì €ì¥
engine = create_engine(db_url)
your_dataframe.to_sql(name='your_table_name', con=engine, if_exists='replace', index=False)

In [44]:
daum_movies

,movieId,titleKo,titleEn,synopsis,cast,mainPageUrl,posterUrl,numOfSiteRatings
0,1,í”Œë€ë‹¤ìŠ¤ì˜ ê°œ,"Barking Dogs Never Bite, 2000",ëŒ€í•™ ì‹œê°„ê°•ì‚¬ì¸ ê³ ìœ¤ì£¼(ì´ì„±ì¬)ëŠ” ì´ë²ˆì—ë„ êµìˆ˜ì§ ì¶”ì²œì—ì„œ ë³´ê¸° ì¢‹ê²Œ ë–¨ì–´ì§„ë‹¤. ëˆ...,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=1,https://img1.daumcdn.net/thumb/C408x596/?fname...,126.0
1,2,ì¹´ë¼,"Calla, 1999",íŒ¬ì‹œíšŒì‚¬ ë””ìì´ë„ˆì¸ ì„ ìš°(ì†¡ìŠ¹í—Œ)ëŠ” ì¶œê·¼ê¸¸ ë²„ìŠ¤ì—ì„œ ì§€í¬(ê¹€í¬ì„ )ë¥¼ ë³´ê³ ì²«ëˆˆì— ë°˜...,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=2,https://img1.daumcdn.net/thumb/C408x596/?fname...,23.0
2,3,ì£¼ë…¸ëª… ë² ì´ì»¤ë¦¬,2000,ë¹µê³¼ ê²°í˜¼ì— ê´€í•œ æ€§ìŠ¤ëŸ¬ìš´ ì´ì•¼ê¸° ë¹µì„ ë§Œë“œëŠ” ê¸°ì¨ì´ ì´ëŸ° ê²ƒ ì•„ë‹ê¹Œ? ì‚¬ë‘ì´ ë¹µì„...,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=3,None,15.0
3,4,ì—¬ê³ ê´´ë‹´ ë‘ë²ˆì§¸ ì´ì•¼ê¸°,"Memento Mori, 1999",ì§€ê°ì„ í•˜ëŠ” ë°”ëŒì— í•™êµ ë‹´ì„ ë„˜ì–´ ë“±êµí•œ ë¯¼ì•„(ê¹€ë¯¼ì„ )ëŠ” ìˆ˜ë—ê°€ì—ì„œ ìš°ì—°íˆ ë¶‰ì€ ...,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=4,https://img1.daumcdn.net/thumb/C408x596/?fname...,74.0
4,5,í–‰ë³µí•œ ì¥ì˜ì‚¬,2000,ì¥íŒëŒ(ì˜¤í˜„ê²½)ì€ ì‹œê³¨ì˜ í•œ ë§ˆì„ì—ì„œ í‰ìƒ ì¥ì˜ì‚¬ë¡œ ì‚´ì•„ì˜¨ ì‚¬ëŒì´ë‹¤. ê·¸ì˜ ì†ì ì¬...,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=5,https://img1.daumcdn.net/thumb/C408x596/?fname...,53.0
...,...,...,...,...,...,...,...,...
30218,176047,ë•¡í ì•„ì„ ì†Œë¦¬,"Thank You, I'm Sorry, Tack och fÃ¶rlÃ¥t, 2023",ì¶œì‚°ì´ ë©€ì§€ ì•Šì€ ìƒí™©ì—ì„œ ê°‘ìê¸° í˜¼ìê°€ ë˜ì–´ë²„ë¦° ì‚¬ë¼. ê·¸ëŸ°ë° êµ¬ì›ì˜ ì†ê¸¸ì´ ì „í˜€...,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0
30219,176048,í—¬ ìº í”„: ì²­ì†Œë…„ ì§€ì˜¥ í›ˆë ¨ì†Œ,"Hell Camp: Teen Nightmare, 2023",None,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0
30220,176049,ê°€ìƒì˜ ê°€ìƒí™”í,"Bitconned, 2024",None,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0
30221,176148,ì¿µí‘¸íŒ¬ë”4,"Kung Fu Panda 4, 2024",ìš©ì˜ ì „ì‚¬ â€˜í¬â€™(ì­ ë¸”ë™)ê°€ ìƒëŒ€ì˜ ê¸°ìˆ ì„ ê·¸ëŒ€ë¡œ ì¹´í”¼í•˜ëŠ” ê°•ë ¥í•œ ë¹ŒëŸ° â€˜ì¹´ë©œë ˆì˜¨...,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0
30222,176336,ì•„ì´ ëŸ¬ë¸Œ ë¦¬ì§€,"I Love Lizzy, 2023",ì‹ í•™êµë¥¼ ë– ë‚˜ ì—¬í–‰ì„ í•˜ë˜ ì˜ˆë¹„ ì„±ì§ì. ì§€ì—­ íˆ¬ì–´ ê°€ì´ë“œì™€ ì‚¬ë‘ì— ë¹ ì ¸ ì‹ ì•™ì˜ ìœ„...,"[{'role': 'ê°ë…', 'personId': '/person/main?pers...",https://movie.daum.net/moviedb/grade?movieId=1...,https://img1.daumcdn.net/thumb/C408x596/?fname...,1.0

In [45]:
daum_movies_movieid = daum_movies[['movieId']]

In [46]:
daum_movies_movieid

       movieId
0            1
1            2
2            3
3            4
4            5
...        ...
30218   176047
30219   176048
30220   176049
30221   176148
30222   176336

[30223 rows x 1 columns]

In [47]:
daum_ratings

,nickName,movieId,rating,timestamp,userId,review
0,ë§¤ë ¥ì ê·¸ë…€,121721,8,1.702394e+09,None,ì´ëŸ° ì˜í™” ì•ˆì¢‹ì•„í•˜ëŠ”ë° ì–´ì©”ìˆ˜ ì—†ì´ ë´¤ë‹¤ê°€ ì†”ì§íˆ ê¸°ë¶„ì€ ì§„ì§œ ë³„ë¡œì˜€ìŒ ê·¼ë° ë˜ ì˜...
1,ë§¤ë ¥ì ê·¸ë…€,1660,10,1.701700e+09,None,ì²¨ì—” ë‚´ê°€ ì£¼ì¸ê³µì´ê³ ì´ë ‡ê²Œ ìˆ ìˆ í’€ë¦¬ëŠ” í–‰ë³µí•œ ì¸ìƒ ë¶€ëŸ½ë‹¤ ì´ëŸ¬ë‹¤ê°€ ê°ˆìˆ˜ë¡ ìˆ¨ë§‰íˆ...
2,ë§¤ë ¥ì ê·¸ë…€,164920,10,1.692027e+09,None,ì²˜ìŒì—” ë„·í”Œì—.ë–´ê¸¸ë˜ ë³„ ìƒê°ì—†ì´ ë³´ê¸° ì‹œì‘í–ˆëŠ”ë° ë„ˆë¬´ ì”ì”í•´ì„œ ë­ì§€ í•˜ë‹¤ê°€ ì´ìƒí•˜...
3,ë§¤ë ¥ì ê·¸ë…€,130710,1,1.684073e+09,None,ì´ê±° ì™œ ì˜í™”ë¡œ ë§Œë“ ê±´ê°€ìš”?
4,ë§¤ë ¥ì ê·¸ë…€,1953,6,1.677165e+09,None,ë‹¹ì‹œì—” í‰ì´ ì—„ì²­ ë‚®ê³ ì—¬ì£¼ í˜¹í‰ì´ë˜ ì˜í™”ë„ ì‹œê°„ì´ ì§€ë‚˜ë©´ ì´ë ‡ê²Œ í‰ì ì´ ì¢‹ì•„ì§€ëŠ”êµ¬...
...,...,...,...,...,...,...
582312,ì•„ë¦¼,96030,10,1.614238e+09,None,ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‘ğŸ‘
582313,ì•„ë¦¼,134684,9,1.593245e+09,None,ì‚¬ëŒë“¤ë§ˆë‹¤ ì·¨í–¥ì´ ë‹¤ë¥´ë‹ˆ ì¬ë¯¸ì—†ìœ¼ì‹ ë¶„ë“¤ë„ ê³„ì‹œê² ì§€ë§Œ ë¶€ì‚°í–‰+ì—‘ì‹œíŠ¸ ëŠë‚Œì´ë¼ ì¬ë°Œì—ˆ...
582314,ë²„ë“¤ì¹˜,48253,10,1.482238e+09,None,ê°€ìŠ´ì´ ì•„í”„ë‹¤..
582315,ì´ë¿ìˆ˜ê¸°,45801,9,1.516678e+09,None,ì¶”ìí˜„í•˜ë©´ ì´ ì˜í™”ê°€ ìƒê°ë‚¨
582316,ì´ë¿ìˆ˜ê¸°,48253,10,1.478506e+09,None,ë‚œ ëª‡ë²ˆì„ ë” ë´¤ë‹¤..\në³´ê³ ë˜ ìš¸ê³ ìš¸ê³ ìš¸ê³ ..\në„˜ ìŠ¬íë‹¤...\nê·¼ë° ë‚¨ì...

       movieId  mean  count
6437     33335  10.0      4
5928     30103  10.0      1
5942     30182  10.0      1
21094   106973  10.0      1
21095   106974  10.0      1
...        ...   ...    ...
20197   101049   0.0      1
9504     44097   0.0      1
20218   101210   0.0      1
20220   101223   0.0      1
17580    84920   0.0      1

[30157 rows x 3 columns]

In [ ]:
grouped_df[count]

In [95]:
daum_movies[daum_movies['num_of_collected_ratings'] > 500].sort_values('rating_mean', ascending=False).head(100)

KeyError: 'num_of_collected_ratings'

In [ ]:
pop_movies_id = \
    daum_movies[daum_movies['num_of_collected_ratings'] > 100].sort_values('rating_mean', ascending=False).head(
        100)[
        'movieId'].tolist()
# print(f"get popular movies..done")