In [10]:
from clients import MysqlClient
import os
os.environ['RDS_MYSQL_PW'] = 'Precsys1!'

In [17]:
mysql = MysqlClient()

In [22]:
movies = mysql.get_movies()
targets = movies[movies['url'].isnull()]['title']

In [23]:
len(targets)

55168

In [ ]:
i

In [1]:
import psutil
p = psutil.Process()
p.memory_info()

pmem(rss=65945600, vms=419562635264, pfaults=8544, pageins=66)

In [7]:
import os
os.getcwd()

'/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment'

In [8]:
import csv

In [88]:
i = 0
with open('data/ml-25m/ratings.csv') as f:
    reader_obj = csv.reader(f) 

    for row in reader_obj: 
        print(row)
        i += 1
        if i > 10:
            break

['userId', 'movieId', 'rating', 'timestamp']
['1', '296', '5.0', '1147880044']
['1', '306', '3.5', '1147868817']
['1', '307', '5.0', '1147868828']
['1', '665', '5.0', '1147878820']
['1', '899', '3.5', '1147868510']
['1', '1088', '4.0', '1147868495']
['1', '1175', '3.5', '1147868826']
['1', '1217', '3.5', '1147878326']
['1', '1237', '5.0', '1147868839']
['1', '1250', '4.0', '1147868414']

In [9]:
import pymysql
import sys
import boto3
import os

ENDPOINT="pseudorec.cvhv2t0obyv3.ap-northeast-2.rds.amazonaws.com"
PORT=3306
USER="admin"
REGION="ap-northeast-2c"
DBNAME="movielens25m"
os.environ['LIBMYSQL_ENABLE_CLEARTEXT_PLUGIN'] = '1'

#gets the credentials from .aws/credentials
# session = boto3.Session(profile_name='default')
# client = session.client('rds')

connection =  pymysql.connect(host=ENDPOINT, user=USER, passwd='Precsys1!', port=PORT, database=DBNAME)
cursor = connection.cursor()

In [91]:
with connection:
    with connection.cursor() as cursor:
        sql = "SHOW TABLES"
        cursor.execute(sql)
        result = cursor.fetchall()
        for row in result:
            print(row[0])

movies
ratings

In [108]:
frame = pd.read_sql('select count(*) from ratings', connection)

In [111]:
frame

   count(*)
0   1000000

In [72]:
frame = pd.read_sql('select * from ratings', connection)

/opt/homebrew/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [84]:
frame

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [4]:
def get_connection():
    connection =  pymysql.connect(host=ENDPOINT, user=USER, passwd='Precsys1!', port=PORT, database=DBNAME)
    return connection

In [5]:
def get_count(table_name):
    with get_connection().cursor() as cursor:
        cursor.execute(f"select count(*) from {table_name}")
        return cursor.fetchall()[0][0]

In [6]:
get_count(table_name='movies')

NameError: name 'pymysql' is not defined

In [189]:

def insert_ratings_lst(ratings_lst):
    sql = 'INSERT INTO ratings (userId, movieId, rating, timestamp) VALUES (%s, %s, %s, %s)'
    connection = get_connection()
    try:
        with connection.cursor() as cursor:
            cursor.executemany(sql, ratings_lst)
            connection.commit()
    finally:
        connection.close()
    
    print(f"insert done.")

In [179]:
row_i

1000000

In [181]:
from collections import Counter

In [185]:
i

1000000

In [130]:
def truncate(table_name):
    with get_connection().cursor() as cursor:
        cursor.execute(f"TRUNCATE TABLE {table_name}")

In [187]:
truncate(table_name='ratings')

In [134]:
def get_process_list():
    with get_connection() as connection:
        cursor = connection.cursor()
        cursor.execute('SHOW PROCESSLIST')
        return pd.read_sql('SHOW PROCESSLIST', connection)

# ratings

In [190]:
ratings_lst = []
i = 0
with open('data/ml-25m/ratings.csv') as f:
    reader_obj = csv.reader(f)
    for row_i, row in enumerate(reader_obj):
        if row == ['userId', 'movieId', 'rating', 'timestamp']:
            continue
        userid, movieid, rating, timestamp = row
        ratings_lst.append((int(userid), int(movieid), float(rating), int(timestamp)))
        i += 1
        
        if i == 1000000:
            insert_ratings_lst(ratings_lst)
            ratings_lst = []
            i = 0
            print(f"row_i : {row_i:,}")

insert done.
row_i : 1,000,000
insert done.
row_i : 2,000,000
insert done.
row_i : 3,000,000
insert done.
row_i : 4,000,000
insert done.
row_i : 5,000,000
insert done.
row_i : 6,000,000
insert done.
row_i : 7,000,000
insert done.
row_i : 8,000,000
insert done.
row_i : 9,000,000
insert done.
row_i : 10,000,000
insert done.
row_i : 11,000,000
insert done.
row_i : 12,000,000
insert done.
row_i : 13,000,000
insert done.
row_i : 14,000,000
insert done.
row_i : 15,000,000
insert done.
row_i : 16,000,000
insert done.
row_i : 17,000,000
insert done.
row_i : 18,000,000
insert done.
row_i : 19,000,000
insert done.
row_i : 20,000,000
insert done.
row_i : 21,000,000
insert done.
row_i : 22,000,000
insert done.
row_i : 23,000,000
insert done.
row_i : 24,000,000
insert done.
row_i : 25,000,000

In [191]:
len(ratings_lst)

95

In [192]:
insert_ratings_lst(ratings_lst)

insert done.

In [193]:
row_i

25000095

# movies

In [194]:
with open('data/ml-25m/movies.csv') as f:
    reader_obj = csv.reader(f) 
    for row_i, row in enumerate(reader_obj):
        break

In [195]:
row

['movieId', 'title', 'genres']

In [197]:
import csv

movies_lst = []
i == 0
with open('data/ml-25m/movies.csv') as f:
    reader_obj = csv.reader(f) 
    for row_i, row in enumerate(reader_obj):
        if row == ['movieId', 'title', 'genres']:
            continue
            
        movieid, title, genres = row
        movies_lst.append((int(movieid), title, genres))
        i += 1

In [198]:
len(movies_lst)

62423

In [ ]:

sql = 'INSERT INTO movies (movieId, title, genres) VALUES (%s, %s, %s)'

In [199]:
def insert_movies_lst(movies_lst):
    sql = 'INSERT INTO movies (movieId, title, genres) VALUES (%s, %s, %s)'
    connection = get_connection()
    try:
        with connection.cursor() as cursor:
            cursor.executemany(sql, movies_lst)
            connection.commit()
    finally:
        connection.close()
    
    print(f"insert done.")

In [201]:
truncate(table_name='movies')

In [202]:
insert_movies_lst(movies_lst)

insert done.

# 불러오기 확인

In [11]:
import pandas as pd

In [12]:
with get_connection() as connection:
    df = pd.read_sql(sql='select * from ratings where userId = 100', con=connection)

/var/folders/cg/2vt5wbq5767fsxv0005k5x4m0000gn/T/ipykernel_15123/618232439.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from ratings where userId = 100', con=connection)

In [13]:
df

    userId  movieId  rating    timestamp
0      100        5     2.0  862168434.0
1      100       17     4.0  862168376.0
2      100       25     4.0  862168376.0
3      100       26     4.0  862168751.0
4      100       32     3.0  862168374.0
..     ...      ...     ...          ...
56     100     1429     3.0  862169009.0
57     100     1464     3.0  862169335.0
58     100     1466     5.0  862169186.0
59     100     1485     3.0  862169065.0
60     100     4424     4.0  862169101.0

[61 rows x 4 columns]

In [14]:
from clients import MysqlClient

In [15]:
import os
os.environ['RDS_MYSQL_PW'] = 'Precsys1!'

In [16]:
mysql = MysqlClient()

In [95]:
movies = mysql.get_movies()

In [96]:
sum(movies['url'].notnull())

3050

In [ ]:
movies.head(60)

In [19]:
import re

In [29]:
year_regex = re.compile(r'(\d){4}')

In [21]:
title = 'Toy Story (1995)'

In [24]:
from collections import defaultdict

In [38]:
year_cntr = defaultdict(int)

for title in movies['title']:
    search = re.search(year_regex, title)
    if search:
        year_cntr[int(search.group())] += 1

In [ ]:
sorted(year_cntr.items(), key=lambda x: x[0], reverse=True)

In [49]:
movies['year'] = movies['title'].map(lambda x: x[-6:].replace('(', '').replace(')', ''))

In [50]:
from collections import Counter

In [54]:
movies[movies['year'] == '2019']

,movieId,title,genres,url,year
25068,122914,Avengers: Infinity War - Part II (2019),Action|Adventure|Sci-Fi,None,2019
33520,143345,Shazam! (2019),Action|Adventure|Fantasy|Sci-Fi,None,2019
57039,195473,Les Invisibles (2019),(no genres listed),None,2019
57371,196223,Hellboy (2019),Action|Adventure|Fantasy,None,2019
57462,196417,How to Train Your Dragon: The Hidden World (2019),Adventure|Animation|Children,None,2019
...,...,...,...,...,...
62387,209051,Jeff Garlin: Our Man in Chicago (2019),(no genres listed),None,2019
62398,209085,The Mistletoe Secret (2019),Romance,None,2019
62412,209143,The Painting (2019),Animation|Documentary,None,2019
62413,209145,Liberté (2019),Drama,None,2019
62415,209151,Mao Zedong 1949 (2019),(no genres listed),None,2019

In [ ]:
Counter(movies['year'])

In [31]:
int(re.search(year_regex, title).group())

1995

In [34]:
title

'Texas Chainsaw Massacre: The Next Generation (a.k.a. The Return of the Texas Chainsaw Massacre) (199'

In [33]:
re.search(year_regex, title)

In [26]:
re.search(year_regex, title).group()

'1995'