In [3]:
from clients import MysqlClient

import os
os.environ['RDS_MYSQL_PW'] = aws 계정 비밀번호와 동일

mysql = MysqlClient()

In [5]:
mysql.get_table_names()

Tables :
movies
ratings

In [10]:
mysql.get_count(table_name='ratings')

25000095

In [13]:
import pandas as pd
def get_ratings():
    with mysql.get_connection() as connection:
        df = pd.read_sql(sql='select * from ratings limit 10', con=connection)
        return df

In [14]:
ratings = get_ratings()

/var/folders/cg/2vt5wbq5767fsxv0005k5x4m0000gn/T/ipykernel_22488/1652012775.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql='select * from ratings limit 10', con=connection)

In [15]:
ratings

   userId  movieId  rating     timestamp
0       1      296     5.0  1.147880e+09
1       1      306     3.5  1.147869e+09
2       1      307     5.0  1.147869e+09
3       1      665     5.0  1.147879e+09
4       1      899     3.5  1.147869e+09
5       1     1088     4.0  1.147868e+09
6       1     1175     3.5  1.147869e+09
7       1     1217     3.5  1.147878e+09
8       1     1237     5.0  1.147869e+09
9       1     1250     4.0  1.147868e+09

In [ ]:
with connection:
    with connection.cursor() as cursor:
        sql = "SHOW TABLES"
        cursor.execute(sql)
        result = cursor.fetchall()
        for row in result:
            print(row[0])

In [ ]:
with mysql.get_connection().cursor() as cursor():
    cursor.execute(f"select count(*) from ratings")