In [3]:
import os
os.getcwd()

'/Users/kyeongchanlee/PycharmProjects/recsys_service_deployment'

In [4]:
import pandas as pd
movies = pd.read_table('data/ml-1m/movies.dat', sep='::', header=None, names=['movie_id', 'title', 'genres'],
                       engine='python', encoding_errors='ignore')

In [5]:
movies

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [13]:
movies['year'] = movies['title'].map(lambda x: x[-5:-1])

In [15]:
movies['title'] = movies['title'].map(lambda x: x[:-6])

In [16]:
movies

,movie_id,title,genres,year
0,1,Toy Story,Animation|Children's|Comedy,1995
1,2,Jumanji,Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
3878,3948,Meet the Parents,Comedy,2000
3879,3949,Requiem for a Dream,Drama,2000
3880,3950,Tigerland,Drama,2000
3881,3951,Two Family House,Drama,2000
3882,3952,"Contender, The",Drama|Thriller,2000

In [6]:
ratings = pd.read_table('data/ml-1m/ratings.dat', sep='::', header=None, names=['userid', 'movieid', 'rating', 'timestamp'],
                       engine='python', encoding_errors='ignore')

In [7]:
ratings

         userid  movieid  rating  timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect('db.sqlite3')

In [10]:
cursor = conn.cursor()

In [11]:
# 현재 데이터베이스에 있는 테이블 이름을 확인하는 SQL 쿼리 실행
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# 결과 가져오기
table_names = cursor.fetchall()

In [12]:
table_names

[('django_migrations',),
 ('sqlite_sequence',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('django_admin_log',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_group',),
 ('auth_user',),
 ('django_session',),
 ('movie_watchedmovie',)]